<div class="framed">
    <div class="half-padding">
        <div class="centered-container">
            <a class="pure-button margin-button">1</a>
            <a class="pure-button margin-button">2</a>
            <a class="pure-button margin-button">3</a>
            <a class="pure-button margin-button">4</a>
            <a class="pure-button margin-button">5</a>
            <a class="pure-button margin-button">6</a>
            <a class="pure-button margin-button">7</a>
            <a class="pure-button margin-button">8</a>
            <a class="pure-button margin-button">9</a>
            <a class="pure-button margin-button">0</a>
        </div>
        <div class="centered-container">
            <a class="pure-button margin-button">&#8592;</a>
            <a class="pure-button margin-button">,</a>
            <a class="pure-button margin-button">&#43;</a>
            <a class="pure-button margin-button">&#8722;</a>
            <a class="pure-button margin-button">&#215;</a>
            <a class="pure-button margin-button">&#247;</a>
            <a class="pure-button margin-button">&#61;</a>
        </div>
    </div>
</div>