<div class="framed">
    <h2>Historie</h2>
    <ul class="list">
        <li *ngFor="let entry of entries">
            <div *ngIf="showDate" class="history-date">
                {{ getFormatedDate(entry.date) }}
            </div>
            <a class="pure-button"
                (click)="pasteFirstOperand(entry)">
                {{ entry.calculation.getFormatedFirstOperand() }}
            </a>
            {{ entry.calculation.formatOperation() }}
            <a class="pure-button"
                (click)="pasteSecondOperand(entry)">
                {{ entry.calculation.getFormatedSecondOperand() }}
            </a>
            &#x3d;
            <a class="pure-button"
                (click)="pasteResult(entry)">
                {{ entry.calculation.getFormatedResult() }}
            </a>
        </li>
    </ul>
    <div class="buttons-container">
        <a class="pure-button margin-button"
            (click)="deleteHistory()">
                löschen
        </a>
        <a *ngIf="showDate; else dateOn"
            class="pure-button margin-button"
            (click)="toggleShowDate()">
                Datum ausblenden
        </a>
        <ng-template #dateOn>
            <a class="pure-button margin-button"
                (click)="toggleShowDate()">
                    Datum anzeigen
            </a>
        </ng-template>
    </div>
</div>
